kobert-tokenizer @ git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf
sentencepiece 
streamlit
scikit-learn
pandas
numpy
pillow
soundfile
torch 
torchvision
transformers
fastapi 
python-multipart
uvicorn 
torchaudio
librosa
emoji
streamlit-modal
pydub